node_modules
.turbo
dist
.env
.env.local
apps/notification-service/auth_info_baileys/*
!apps/notification-service/auth_info_baileys/.gitkeep

# Docker environments
docker/api.env
docker/notification.env
docker/web.env
docker/.env