[Unit]
Description=Notification Service
After=network.target

[Service]
User=setyanet
Group=setyanet
Restart=always
WorkingDirectory=/home/setyanet/setya-abadi-elektronik/apps/notification-service
ExecStart=/usr/bin/node /home/setyanet/setya-abadi-elektronik/apps/notification-service/dist/server.js

[Install]
WantedBy=multi-user.target
