# SHARED DOCKER CONFIGURATION
# Path for persistent storage outside container (Support Windows & Linux)
# Windows example: D:/storage
# Linux example: /home/setyanet/storage
EXTERNAL_STORAGE_PATH=./storage_data
