# Notification Service Environment Variables (apps/notification-service)
PORT=3001
NODE_ENV=development

# SMTP Config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=galihternak.ai00@gmail.com
SMTP_PASS="fabsoccqxfddyybq"
SMTP_FROM=galihternak.ai00@gmail.com

# Frontend URL for Verification Links
APP_URL=http://localhost:3000

# WhatsApp Auth Path
WA_AUTH_PATH=./auth_info_baileys
